<li class="<% if todo.completed %>completed<% end %> <% if params[:edit] == todo.id %>editing<% end %>">
  <div class="view">
    <form action="/todos/<%= todo.id %>" method="put">
      <input type="hidden" name="completed" value="false">
      <input
        class="toggle"
        data-bormashino-submit-on="change"
        type="checkbox"
        name="completed"
        <% if todo.completed %>checked<% end %>>
      <label ondblclick='bormashino.router.pushState(<%= "#{request.path_info}?edit=#{todo.id}".to_json %>)'><%= todo.title %></label>
    </form>

    <form action="/todos/<%= todo.id %>" method="delete">
      <button class="destroy" data-bormashino-submit-on="click"></button>
    </form>
  </div>
  <form action="/todos/<%= todo.id %>" method="put">
    <input class="edit" value="<%= todo.title %>" name="title">
  </form>
</li>
